[Desktop Entry]
Version=0.17.6
Name=Nirvana Core Testnet
Comment=Connect to the Nirvana P2P Network Testnet
Exec=nirvana-qt -testnet %u
Terminal=false
Type=Application
Icon=nirvanatestnet128
MimeType=x-scheme-handler/nirvana;
Categories=Network;
StartupWMClass=Nirvana-qt-testnet
Name[en_US]=nirvana-qt-testnet
